
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head-banner{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
    padding: 25px;
    margin-right: 20%;
    margin-top: 0;
}

header{
    /*background-color: blue;*/
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(5, 174, 241), blue);
}

body{
    margin:0;
    
}

.search-area{
    font-size: 30px;
}
.city-input{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

aside{
    display:flex;
    flex-direction: column;
    margin-left: 2%;
}

.searchButton{
    width: 245px;
    font-size: 20px;
    margin-top:20px;
    background-color:rgb(5, 174, 241);
    color: white;
    border-radius: 8px;
    border:none;
    padding: 5px;
}
.searchButton:hover{
    background-color: blue;
    border: none;
}
hr{
    display:flex;
    justify-content: flex-start;
    margin-left: -5px;
    width:250px;
    color:lightgray;
}

.fiveDayDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weatherCardContainer{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    border: 2px solid  darkkhaki;
    border-radius: 8px;
    color: white;
    background-color: rgb(16, 86, 132);
}
.weekDay{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

img{
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
